<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEW BOOK</title>
</head>

<form action="/books/create" method="post">

  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required>

  <label for="ISBN">ISBN Code:</label>
  <input type="text" id="ISBN" name="ISBN">

  <label for="Publisher">Publisher:</label>
  <input type="text" id="publisher" name="publisher" required>

  <label for="Pages">Pages:</label>
  <input type="number" id="pages" name="pages" required>

  <!-- Submit Button -->
  <button type="submit">Add book to the collection</button>
</form>
